.propos-title {
    text-align: center;
    margin-bottom: -8%;
    margin-top: -6%;
}


.container {
    display: flex;
    flex-direction: row;
    margin: 10%
}

.propos-description {
    border: solid 1px orange;
    padding: 20px;
    width: 50%;
    
    max-height: 195px;
    background-color: #f8f6f900;
    margin-top: 7%;
    margin-right: 3%; 
}

.animators{
    border: solid 1px orange;
    position: relative;
    bottom: 27%;
    right: 70%;
    text-align: center;
}

.statistics {
    display: flex;
    flex-direction: column;
}

.student {
    border: solid 1px orange;
    padding: 20px;
    width: 200px;
    margin-left: -20%;
    margin-top: 50%;
    margin-Bottom: 16%;

}



/*CSS Propos Details*/
.propos-description-details{
    color:black;
    border: 1px solid black;
    position:absolute;
    padding: 5px 10px;
    border: 2px solid black;
    color:black;
    font-size:20px;
    font-family:'Times New Roman';
    max-width: 50%;
    right: 0;
}
.image-propos-details{
    background-image: url('../images/m.jpg')
}